ul, ol {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.responsive-container {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.quote-container {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 300px;
    line-height: 1.5;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-container::before {
    content: '“';
    font-size: 50px;
    position: absolute;
    top: 10px;
    left: 15px;
    opacity: 0.2;
}

.quote-text {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
}

.quote-author {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: 16px;
    margin-left: 30px;
}

.side-content {
    flex: 1 1 300px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid white;
    padding: 20px;
    align-content: center;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}